<section class="d-flex justify-content-center">
    <div class="card m-4 w-25" style="width: 18rem;">
        <img src="{{user.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-dark">{{user.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: {{user.email}}</li>
            <li class="list-group-item">Direccion: {{user.address}}</li>
            <li class="list-group-item">Edad: {{user.age}}</li>
        </ul>
        
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a class="float-end" href="/api/auth/logout">cerrar sesion</a> {{!-- con el href lo vinculamos al metodo de "logout" --}}
        </div>
    </div>

</section>